[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = git@github.com:kimcc/hugo-theme-noteworthy.git
